// Background Color
$background: ghostwhite;

// Color variables
$lightgrey: #6f6f6f;
$grey: #5a5a5a;
$x-lightgrey: #5a5a5a;

// Icon colors
$facebook-blue: #3b5998;
$linkedin-blue: #007bb6;
$email-black: #333;
$skype-blue: #12A5F4;