@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-dqs20x');
	src:url('../fonts/icomoon.eot?#iefix-dqs20x') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-dqs20x') format('woff'),
		url('../fonts/icomoon.ttf?-dqs20x') format('truetype'),
		url('../fonts/icomoon.svg?-dqs20x#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}


//Font Variables
$gear: '\e600';
$pencil: '\e601';
$monitor: '\e602';
$phone: '\e603';
$world: '\e604';
$menu: '\e605';
$facebook: '\e606';
$instagram: '\e607';
$github: 'e608';
$truck: '\e609';