@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-jzeaz0');
	src:url('../fonts/icomoon.eot?#iefix-jzeaz0') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-jzeaz0') format('woff'),
		url('../fonts/icomoon.ttf?-jzeaz0') format('truetype'),
		url('../fonts/icomoon.svg?-jzeaz0#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}



//Font Variables
$gear: '\e600';
$pencil: '\e601';
$email: '\e602';
$facebook: '\e603';
$linkedin: '\e604';
$skype: '\e605';
$menu: '\e606';
$truck: '\e609';