.about {
	width: 90%;
	margin: 0 auto;

	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.about--headshot {

	@media screen and (min-width: 41.25em) {
		margin: 1em 1% 0 0;
		width: 24%;
		float: left;
	}
}

.about--headshot__img {
	max-width: 50%;
	display: block;
	border: .2em solid $grey;
	border-radius: 100%;
	margin: 1em auto;

	@media screen and (min-width: 41.25em){
		max-width: 80%;
	}
}

.about--content {
	color: $grey;

	@media screen and (min-width: 41.25em) {
		width: 75%;
		float: right;
	}
}

.about--content__headline {
}

@for $i from 1 through 3 {
	.about--content__p#{$i} {
		line-height: 1.3;
		font-size: 1.2em;
		color: $x-lightgrey;
	}
}