.navigation {
	width: 100%;
	font-family: 'EB Garamond', 'serif';
	color: $grey;
	height: 11.5em;
	overflow: hidden;

	&__is-open {
		height: inherit;	
	}

	@media screen and (min-width: 41.25em) {
		height: inherit;
	}

}

.navigation--button {
	position: absolute;
	top: .8em;
	right: .8em;
	height: 2em;
	width: 2em;
	font-size: 1.8em;
	text-align: center;
	text-decoration: none;
	color: $grey;

	@media screen and (min-width: 41.25em) {
		display: none;
	}

	&__icon:before {
		font-family: 'icomoon';
		content: $menu;
	}

}

.navigation--logo {
	text-align: center;
}

.navigation--logo__bold {
	font-size: 8em;
	padding: 0;
	margin: 0;
}

.navigation--links {
	list-style: none;
	text-align: center;
	padding: 0;

	& a {
		display: block;
		text-decoration: none;
		color: $grey;
		padding: .8em 1.2em;
		border-top: .0625em solid $grey;
	}

	&__github {
		border-bottom: .0625em solid $grey;
	}

	@media screen and (min-width: 41.25em) {
		& li {
			display: inline-block;
			margin: 0 1em;
		}

		&__github {
			border-bottom: initial;
		}
	
		& a {
			border: initial;

			&:hover {
				color: black;
				transition: .3s color, .3s text-shadow;
				text-shadow: 0.0625em 0.0625em 0.0625em black;
			}
		}
	}
}



